<app-form-invited *ngIf="formValid"></app-form-invited>
<app-form-notinvited *ngIf="formInvalid"></app-form-notinvited>
<div class="adicionar">
    <h2>Cadastrar Item</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Item:</label>
        <input id="name" formControlName="name" type="text" />
        <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
          <small *ngIf="userForm.get('name')?.hasError('required')">Nome é obrigatório!</small>
        </div>
      </div>
  
      <div>
        <label for="category">Categoria:</label>
        <input id="category" formControlName="category" type="text" />
        <div *ngIf="userForm.get('category')?.touched && userForm.get('category')?.invalid">
          <small *ngIf="userForm.get('category')?.hasError('required')">Categoria é obrigatório!</small>
        </div>
      </div>
      
  
      <div>
        <label for="quantity">Quantidade:</label>
        <input id="quantity" formControlName="quantity" type="number" />
        <div *ngIf="userForm.get('quantity')?.touched && userForm.get('quantity')?.invalid">
          <small *ngIf="userForm.get('quantity')?.hasError('required')">Quantidade é obrigatória!</small>
          <small *ngIf="userForm.get('quantity')?.hasError('min')">Quantidade mínima permitida é 1!</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="userForm.invalid">Enviar</button>
    </form>
  </div>
